<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/test.js"></script>
</head>
<body>


<!-- flash messages - will be replaced by base.html /////////////////////////////// -->


 {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<!-- Company name input from /////////////////////////////////////////////// -->

    <form action="/company_view" method="GET">
        {{ form.csrf_token }}
        <div class="company-search">
            {{form.company(size=75)}}
          <button type="submit" class="submit_btn">Submit</button>
        </div>
    </form>


<!-- Autocomplete with Jquery ////////////////////////////////////////////// -->

<script type="text/javascript">

    $(document).ready(function () {
    const companies=[];

    function loadCompanies(){
        $.getJSON('/companies', function(data, status, xhr){
            for (let i = 0; i < data.length; i++ ) {
                companies.push(data[i].name);
            }
    });
    };

    loadCompanies();

    $("#company").autocomplete({source: companies});

    });

</script>

</body>
</html>