<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css"> <!-- Datatable -->

</head>
<body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script> <!-- jquery -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script> <!-- Datatable -->
<script src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js"></script> <!-- Datatable -->
<link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">  <!-- font -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script> <!-- Chart js -->


<!-- Definition //////////////////////////////////////////////////////////// -->

<img id="definition-img" src="{{ company_infos[1] }}">
<div id="definition">
    {{ company_infos[0] }}
</div>

<script type="text/javascript">


 function getDefinition() {

    $.ajax({
        url : 'https://api.duckduckgo.com/?q={{company_name.lower()}}.com&format=json&pretty=1',
        jsonp: "callback",
        dataType: 'jsonp',
        xhrFields: { withCredentials: true},
        success: function(results) {
            const abstract = results.AbstractText;
            const img = results.Image;

            if (abstract == "") {
                abstract = "No information available.";
            }

            if (img == "") {
                img = "No information available.";
            }

            $("#definition").html(abstract);
            $("#definition-img").attr("src", img);
            
        }
    });
  }

// getDefinition()



</script>


<!-- rating, ranking /////////////////////////////////////////////////////// -->

{% if job_listings %}
<p> Employees' Rating : {{ job_listings[0]["Rating"]}} </p>
{% endif %}

{% if ranking %}
<p> {{ ranking }} </p>
<p> {{ industry_name }} </p>
{% endif %}

<!-- Salary table ////////////////////////////////////////////////////////// -->

<table id ="salary-table" class="display table table-striped table-bordered" data-company-name="{{ company_name }}">
    <thead>
        <tr>
            <th>Date</th>
            <th>Job Title</th>
            <th data-class-name="priority">Salary</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for salary in salary_query %}
        <tr>
            <td>{{ salary.date.strftime("%b-%d-%Y") }} </td>
            <td>{{ salary.job_title.title() }}</td> 
            <td>{{ "{:,}".format(salary.salary) }}</td> 
            <td>{{ salary.location.title() }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Using DataTable for each table ////////////////////////////////////// -->

<script type="text/javascript">
$(document).ready(function() {
    $('table.display').DataTable();
} );
</script>


<!-- Glassdoor job listing table /////////////////////////////////////////// -->


<table class="display table table-striped table-bordered">
<thead>
    <tr>
        <th>Job Title</th>
        <th>Location</th>
        <th>Estimated Salary</th>
        <th>Url</th>
    </tr>
</thead>
<tbody>
    {% for job in job_listings %}
    <tr>
        <td>{{ job["Name"] }} </td>
        <td>{{ job["City"] }}</td> 
        <td>{{ job["Salary"] }}</td> 
        <td><a href="{{ job["Url"] }}" target="_blank"> Click here </a></td>
    </tr>
    {% endfor %}
</tbody>
</table>   


<!-- <script type="text/javascript">
   
    function job_listings() {

    let url = "job_listings.json";
    let company_data = { "company_name" : $("#salary-table").data("company-name") }; /* interest.json?company_name=facebook */

    $.get(url, company_data, (result) => {
        $('#job-table').html(result.json);
    });

    }
job_listings();

</script> -->

<!-- Google trends interest chart ////////////////////////////////////////// -->

<div class="interest-chart">
    <canvas id="lineChart"></canvas>
    
</div>

<script>
    const options = {
      responsive: true
    };

    // Make Line Chart of Interest over time
    let ctx_line = $("#lineChart").get(0).getContext("2d");
    let company_data = { "company_name" : $("#salary-table").data("company-name") };

    $.get("/interest.json", company_data, function (data) {
      let myLineChart = Chart.Line(ctx_line, {
                                   data: data,
                                   options: options
                                });
      
    });

</script>

</body>
</html>

