{% extends 'base.html' %}

{% block title %} Search {% endblock %}

{% block content %}


<!-- Nav bar with scrollable area -->
 <style>
  body {
      position: relative; 
  }
  </style>
</head>
<body data-spy="scroll" data-target="#navbar-example2" data-offset="50">

<nav id="navbar-example2" class="navbar navbar-light bg-light fixed-top"> 
  <a class="navbar-brand" href="#">Home</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#logo">About Company</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#salary">Real Salary Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#job-listing">Job Listing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#chart">Google trends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#news-article">Related News</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#one">one</a>
        <a class="dropdown-item" href="#two">two</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#three">three</a>
      </div>
    </li>
  </ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="fat">@fat</h4>
  <p>...</p>
  <h4 id="mdo">@mdo</h4>
  <p>...</p>
  <h4 id="one">one</h4>
  <p>...</p>
  <h4 id="two">two</h4>
  <p>...</p>
  <h4 id="three">three</h4>
  <p>...</p>
</div>

<!-- Logo and Definition /////////////////////////////////////////////////// -->

{% if company_infos[1] %}
<div id="logo">
    <img src={{ company_infos[1] }}>
</div>
{% endif %}
{% if company_infos[0] %}
<div id="definition">
    {{ company_infos[0] }}
</div>
{% endif %}


<!-- rating, ranking /////////////////////////////////////////////////////// -->

{% if job_listings %}
<p> Employees' Rating : {{ job_listings[0]["Rating"]}} </p>
{% endif %}

{% if ranking %}
<p> Google trends movement growth is {{ interest_growth }}%, ranking is {{ ranking }} of {{ industry_num }} in {{ industry_name }} sector. (during past 5 years) </p>
{% endif %}

<!-- Salary table ////////////////////////////////////////////////////////// -->

<div id="salary">
<table id ="salary-table" class="display table table-striped table-bordered" data-company-name="{{ company_name }}">
    <thead>
        <tr>
            <th>Date</th>
            <th>Job Title</th>
            <th data-class-name="priority">Salary</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for salary in salary_query %}
        <tr>
            <td>{{ salary.date.strftime("%b-%d-%Y") }} </td>
            <td>{{ salary.job_title.title() }}</td> 
            <td>{{ "${:,}".format(salary.salary) }}</td> 
            <td>{{ salary.location.title() }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<!-- Using DataTable for each table //////////////////////////////////////// -->

<script type="text/javascript">
$(document).ready(function() {
    $('table.display').DataTable();
} );
</script>


<!-- Glassdoor job listing table /////////////////////////////////////////// -->

<div id="job-listing">
<table class="display table table-striped table-bordered">
<thead>
    <tr>
        <th>Job Title</th>
        <th>Location</th>
        <th>Glassdoor Estimated Salary</th>
        <th>Url</th>
    </tr>
</thead>
<tbody>
    {% for job in job_listings %}
    <tr>
        <td>{{ job["Name"] }} </td>
        <td>{{ job["City"] }}</td> 
        <td>{{ job["Salary"] }}</td> 
        <td><a href="{{ job["Url"] }}" target="_blank"> Click here </a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>   

<!-- Google trends interest chart ////////////////////////////////////////// -->

<div id="chart">
<canvas data-chart='{{ interest_chart|tojson }}' id="myChart"></canvas>
<script>
const ctx = document.getElementById("myChart").getContext('2d');
const myChart = new Chart.Line(ctx, {
    data: {
        labels: $("#myChart").data("chart").label1,
        datasets: [{
            label: $("#salary-table").data("company-name"),
            data: $("#myChart").data("chart").label2,
            backgroundColor: "rgba(255, 99, 132, 0.2)",
            borderColor: "rgba(255, 99, 132, 1)",
            borderWidth: 1,
            pointHoverBackgroundColor : "rgba(255, 99, 132, 1)",
            pointHoverBorderColor : "rgba(255, 99, 132, 0.2)",
            pointHoverBorderWidth : 2,
            pointHitRadius : 10,
        }]
    },
    options: {
        scales: {
            xAxes: [{
                      display: true,
                      ticks: {
                          callback: function(dataLabel, index) {
                              return index % 2 === 0 ? dataLabel : '';
                          }
                      }
            }],
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }],
        }
    }
});

</script>
</div>

<!-- News generator by click event ///////////////////////////////////////// -->


<script type="text/javascript">

document.getElementById("myChart").onclick = function(evt){
            const activePoints = myChart.getElementsAtEvent(evt);
            const firstPoint = activePoints[0];
            const label = myChart.data.labels[firstPoint._index];
            const value = myChart.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
            alert(label + ": " + value);
            let company_data = { "company_name" : $("#salary-table").data("company-name"), "from" : label};

            
            const url = "news.json";

            $.get(url, company_data, (response) => {
                
                const newsList = [];
                
                for (let r of response) {
                    
                    const subList = [];

                    subList.push(r.publishedAt);
                    subList.push(r.description);
                    subList.push(r.title);
                    subList.push(r.url);

                    newsList.push(subList);
                    
                }

                $('#news-article').html(newsList);
                console.log(response);
                console.log(newsList);
    });

        };


</script>


<div id="news-article"> ********</div>


{% endblock %}

