{% extends 'base.html' %}

{% block title %} Inside Out {% endblock %}

{% block content %}

<!-- Company name input from /////////////////////////////////////////////// -->

    <form action="/company_view" method="GET">
        <div class="company-search">
            {{ form.company(size=75) }}
            {{ form.submit() }}
        </div>
    </form>


<!-- Autocomplete with Jquery ////////////////////////////////////////////// -->

<script src="/static/autocomplete.js"></script>

<style type="text/css">
.ui-front { z-index: 9999; }
</style>

{% endblock %}