{% extends 'base.html' %}

{% block title %} Inside Out {% endblock %}

{% block content %}

<!-- CSS -->
<link rel="stylesheet" href="/static/style.css">

<main role="main" class="container">

<h1> {{ industry_name }} </h1>
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Industry
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

{% for industry in industries %}
    <a class="dropdown-item" href="/interest_view/{{ industry.name }}">{{ industry.name }}</a>
{% endfor %}

  </div>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Ranking</th>
      <th scope="col">Company Name</th>
      <th scope="col">Growth</th>
      <th scope="col">Page</th>
    </tr>
  </thead>
  <tbody>
{% for company in companies %}
    <tr>
      <th scope="row">{{ company.ranking }}</th>
      <td>{{ company.name.title() }}</td>
      <td>{{ company.interest_growth }}%</td>
      <td><a href="/company_view?company={{company.name}}"> Click here </a></td>
    </tr>
{% endfor %}
    </tbody>
</table>
</main>

{% endblock %}
