{% extends 'base.html' %}

{% block title %} Inside Out {% endblock %}

{% block content %}


<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Industry
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

{% for industry in industries %}
    <a class="dropdown-item" href="#">{{ industry.name }}</a>
{% endfor %}

  </div>
</div>

{% for company in companies %}
    <li> {{ company.ranking }} : {{ company.name }}, {{ company.interest_growth }}% </li>
{% endfor %}


{% endblock %}