{% extends 'base.html' %}

{% block title %} Inside Out {% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/style.css">

<!-- Nav bar with scrollable area ///////////////////////////////////////////-->

<body data-spy="scroll" data-target="#navbar" data-offset="50">

<nav id="navbar" class="navbar navbar-light bg-light fixed-top navbar-custom"> 
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/"><!-- <img id="nav-logo" src="static/images/logo.png" -->></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#about">About Company</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#trends">Google Trends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#news">Related News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#salary-data">Real Salary Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#job-data">Job Listing</a>
    </li>
  </ul>
    <form id="search-form" class="form-inline" role="form" method="get" action="/company_view">
        {{ form.company(class="form-control search-form") }}
      <span class="input-group-btn">
          <button type="submit" class="btn btn-primary search-btn">
              <i class="fa fa-search"></i>
          </button>
      </span>   
  </form>
</nav>

<script src="/static/top_button.js"></script>
<link rel="stylesheet" href="/static/top_button.css">
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-circle-up"></i></button>

<!-- Logo and Definition /////////////////////////////////////////////////// -->

<main role="main" class="container my-custom-container" style="padding-bottom: 100px;">

  <div class="container-fluid" id="about">

    <div class="row">

      <div class="col-md-8 align-self-center">
        <div class="row justify-content-end">
        <div class="col-md-9 align-self-start">
          <h1>{{ company_name.title() }}</h1>
          {% if job_listings %}
            <div class="rating__stars"> 
              <div class="fas stars-outer"> 
                <div id="star" class="stars-inner" data-rating="{{ job_listings[0]["Rating"]}}"></div>
              <script src="/static/star.js"></script>
              </div>
            </div>  
            &nbsp; <span class="span-inline"><p> Employees' Rating : {{ job_listings[0]["Rating"]}} </p> </span>
            <span>
            &nbsp; <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png'></span> 
          {% endif %}
        </div>
        <div class="col-md-3 align-self-end">
          <div id="img-thumbnail">
            {% if company_infos[1] %}
            <img src={{ company_infos[1] }} class="img-thumbnail">
            {% endif %}
          </div>
        </div>
        
      </div>

        {% if company_infos[0] %}
        <div id="definition">
        {{ company_infos[0] }}
        </div>
        {% endif %}

        <div id="ranking" data-ranking="{{ industry_name }}">          
          {% if interest_growth %}
          <p> Search volume on Google Trends grew <mark>{{ interest_growth }}%</mark> over the past 3 years. 
          {% endif %}
          <br>      
          {% if ranking %}
          Interest growth ranking is <mark>{{ ranking }}</mark> out of {{ industry_num }} companies
          in <a href="/interest_view/{{ industry_name }}"> 
          {{ industry_name }} 
          </a> sector.  
          </p>
          {% endif %}
        </div>

      </div>  

      <div class="col-md-4 align-self-center">
        <div id="address"></div>
        <div id="map" data-map='{{ location|tojson }}'></div>
        <script src="/static/map.js"></script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}&callback=initMap">
        </script>
      
      </div>
                    
    </div>

  </div>



<!-- Google trends interest chart ////////////////////////////////////////// -->

<div class="container-fluid" id="trends">

    <span class="span-inline"><h1> Search Volume Trend Over the Past 3 Years </h1></span> 
    &nbsp; <i class="fas fa-question-circle" style="font-size: x-large;color: #bdc2c7;cursor: pointer;" data-toggle="modal" data-target="#interest-modal"></i>

              <!-- Modal -->
              <div class="modal fade" id="interest-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Interest over time form Google Trends</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Numbers represent search interest relative to the highest point on the chart for the given region and time. A value of 100 is the peak popularity for the term. A value of 50 means that the term is half as popular. A score of 0 means there was not enough data for this term.
                    </div>
                  </div>
                </div>
              </div>

    <div id="chart" data-label-name="{{ company_name }}">
    <canvas data-chart='{{ interest_chart|tojson }}' id="myChart"></canvas>
    </div>
    <div class="alert alert-info" role="alert" style="text-align: center;"> Click on the dates above to check what was trending that day.</div>
    

    <script src="/static/interest_chart.js"></script>

</div>


<!-- News generator by click event ///////////////////////////////////////// -->
<div class="container-fluid" id="news">
    
    <h1> Related News </h1>
        <button id="more" class="btn btn-light"> More </button> <button id="fold" class="btn btn-light"> Fold </button>
        
      <div id="news-article"></div>

    <script src="/static/news.js"></script>
    <link rel="stylesheet" href="/static/card_news.css">

</div>


<!-- Salary table ////////////////////////////////////////////////////////// -->
<div class="container-fluid" id="salary-data">

    <span class="span-inline"><h1> Real Salary Data from U.S Labor Department </h1></span>
    &nbsp; <i class="fas fa-question-circle" style="font-size: x-large;color: #bdc2c7;cursor: pointer;" data-toggle="modal" data-target="#salary-modal"></i>

              <!-- Modal -->
              <div class="modal fade" id="salary-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Salary Data from U.S Department of Labor</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      In the U.S, employers are required to report real salary data when they file the H-1B visa request for work permit. The U.S Department of Labor discloses the salary data every year, and this is usually the most accurate salary data for any company that hires a foreign worker. You can find the full data set on its official website.
                    </div>
                  </div>
                </div>
              </div>

    <div id="salary">
    <table id ="salary-table" class="display table table-striped" data-company-name="{{ company_name }}">
        <thead>
            <tr>
                <th>Date</th>
                <th>Job Title</th>
                <th data-class-name="priority">Salary</th>
                <th>Work Site</th>
            </tr>
        </thead>
        <tbody>
            {% for salary in salary_query %}
            <tr>
                <td>{{ salary.date.strftime("%b-%d-%Y") }} </td>
                <td>{{ salary.job_title.title() }}</td> 
                <td>{{ "${:,}".format(salary.salary) }}</td> 
                <td>{{ salary.work_site_city.title() }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</div>

<!-- Using DataTable for each table //////////////////////////////////////// -->

<script type="text/javascript">
$(document).ready(function() {
    $('table.display').DataTable();
} );
</script>


<!-- Glassdoor job listing table /////////////////////////////////////////// -->

<div class="container-fluid" id="job-data">

    <h1> Job Listing </h1>

    <div id="job-listing">
    <table class="display table table-striped">
    <thead>
        <tr>
            <th>Job Title</th>
            <th>Location</th>
            <th>Estimated Salary</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody>
        {% if job_listings %}
          {% for job in job_listings %}
          <tr>
              <td>{{ job["Name"] }} </td>
              <td>{{ job["City"] }}</td> 
              <td>{{ job["Salary"] }}</td> 
              <td><a href="{{ job["Url"] }}" target="_blank"> Click here </a></td>
          </tr>
          {% endfor %}
        {% endif %}
    </tbody>
    </table>
    </div>  

</div>

</main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

</body>


{% endblock %}