{% extends 'base.html' %}

{% block title %} Inside Out {% endblock %}

{% block content %}

<!-- Nav bar with scrollable area ///////////////////////////////////////////-->


</head>
<body data-spy="scroll" data-target="#navbar" data-offset="50">

<nav id="navbar" class="navbar navbar-light bg-light fixed-top"> 
  <a class="navbar-brand" href="/">
    <i class="fas fa-home"></i> Home
  </a>
  <form action="/company_view" method="GET">
        <span class="company-search">
            {{ form.company(size=25) }}
            <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-search"></i></button>
        </span>
    </form>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#logo">About Company</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#salary">Real Salary Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#job-listing">Job Listing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#chart">Google trends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#news-article">Related News</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#one">one</a>
        <a class="dropdown-item" href="#two">two</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#three">three</a>
      </div>
    </li>
  </ul>
</nav>


<!-- Autocomplete  ///////////////////////////////////////////////////////// -->

<script src="/static/autocomplete.js"></script>

<!-- Logo and Definition /////////////////////////////////////////////////// -->

<br><br><br>
<h1>{{ company_name }}</h1>

{% if company_infos[1] %}
<div id="logo">
    <img src={{ company_infos[1] }} class="img-thumbnail">
</div>
{% endif %}
{% if company_infos[0] %}
<div id="definition">
    {{ company_infos[0] }}
</div>
{% endif %}


<!-- rating, ranking /////////////////////////////////////////////////////// -->

{% if job_listings %}


<!-- <div class="rating"> -->
  <div class="rating__stars">
    <div class="fas stars-outer">
      <div id="star" class="stars-inner" data-rating="{{ job_listings[0]["Rating"]}}"></div>
    </div>
  </div>
<!-- </div> -->


<script src="/static/star.js"></script>


<p> Employees' Rating : {{ job_listings[0]["Rating"]}} </p>
{% endif %}



<div id="ranking" data-ranking="{{ industry_name }}">
{% if ranking %}
<p> Google trends movement growth is {{ interest_growth }}%, 
    ranking is {{ ranking }} of {{ industry_num }}
    in <a href="/interest_view/{{ industry_name }}"> {{ industry_name }} </a> sector. (during past 5 years) </p>
{% endif %}
</div>


<!-- Location Map ///////////////////////////////////////////////////////// -->

<h1>Location</h1>

<div id="address"></div>
<div id="location-name"></div>
<!--The div element for the map -->
<div id="map" data-map='{{ location|tojson }}'></div>
    

<script src="/static/map.js"></script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}&callback=initMap">
</script>



<!-- Salary table ////////////////////////////////////////////////////////// -->

<h1> Real Salary Data from Labor Department </h1>

<div id="salary">
<table id ="salary-table" class="display table table-striped table-bordered" data-company-name="{{ company_name }}">
    <thead>
        <tr>
            <th>Date</th>
            <th>Job Title</th>
            <th data-class-name="priority">Salary</th>
            <th>Work Site</th>
        </tr>
    </thead>
    <tbody>
        {% for salary in salary_query %}
        <tr>
            <td>{{ salary.date.strftime("%b-%d-%Y") }} </td>
            <td>{{ salary.job_title.title() }}</td> 
            <td>{{ "${:,}".format(salary.salary) }}</td> 
            <td>{{ salary.work_site_city.title() }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<!-- Using DataTable for each table //////////////////////////////////////// -->

<script type="text/javascript">
$(document).ready(function() {
    $('table.display').DataTable();
} );
</script>


<!-- Glassdoor job listing table /////////////////////////////////////////// -->

<h1> Job listing by Glassdoor </h1>

<div id="job-listing">
<table class="display table table-striped table-bordered">
<thead>
    <tr>
        <th>Job Title</th>
        <th>Location</th>
        <th>Glassdoor Estimated Salary</th>
        <th>Url</th>
    </tr>
</thead>
<tbody>
    {% if job_listings %}
      {% for job in job_listings %}
      <tr>
          <td>{{ job["Name"] }} </td>
          <td>{{ job["City"] }}</td> 
          <td>{{ job["Salary"] }}</td> 
          <td><a href="{{ job["Url"] }}" target="_blank"> Click here </a></td>
      </tr>
      {% endfor %}
    {% endif %}
</tbody>
</table>
</div>   

<!-- Google trends interest chart ////////////////////////////////////////// -->

<h1> Interest Movement Chart From Google trends </h1>

<div id="chart">
<canvas data-chart='{{ interest_chart|tojson }}' id="myChart"></canvas>
</div>

<script src="/static/interest_chart.js"></script>

<!-- News generator by click event ///////////////////////////////////////// -->

<h1> News </h1>
<div id="news-article"> ********</div>

<script src="/static/news.js"></script>









{% endblock %}