<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
// function initMap() {
//   // The location of Uluru
//   var uluru = {lat: 37.392684, lng: -122.0420338};
//   // The map, centered at Uluru
//   var map = new google.maps.Map(
//       document.getElementById('map'), {zoom: 12, center: uluru});
//   // The marker, positioned at Uluru
//   var marker = new google.maps.Marker({position: uluru, map: map});
// }


function addGoldenGateBridgeByName() {

  let beautifulBridge = new google.maps.Geocoder();
  let premise = "linkedin+california";
  let sanfrancisco = {lat: 37.7749295, lng: -122.4194155};
  let map = new google.maps.Map(
       document.getElementById('map'), {zoom: 16, center: sanfrancisco});
  let marker = new google.maps.Marker();

  beautifulBridge.geocode({'address': premise}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        console.log(results);

        let marker = new google.maps.Marker({
          map: map,
          place: {
            location: results[0].geometry.location,
            query: "Golden Gate"
          }
        });
        // Construct a new InfoWindow.
        let infoWindow = new google.maps.InfoWindow({
          content: 'Golden Gate Bridge'
        });

        // Opens the InfoWindow when marker is clicked.
        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
}

// addHackbrightByAddress();




    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0hjpxdyIFYP4XxDYj7rsHC9SjSXVHFuk&callback=addGoldenGateBridgeByName">
    </script>
  </body>
</html>